build --action_env=CC=clang
build --action_env=CXX=clang++
build --cxxopt=-std=c++23
build --cxxopt=-Wfatal-errors
build --cxxopt=-DNDEBUG
build --cxxopt=-O3

build --cxxopt=-mfma
build --cxxopt=-mavx2
build --cxxopt=-ffast-math
build --cxxopt=-ffp-contract=fast
